<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <aside id="sidebar">
        {%- if site.posts.size > 0 -%}
            <h2 class="post-list-heading">Recent posts</h2>
            {%- for post in site.posts -%}
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
<!--                    {% for category in post.categories %}-->
<!--                        <small>{{ category | escape}}</small>-->
<!--                    {% endfor %}-->
               {%- if site.show_excerpts -%}
                {{ post.excerpt }}
               {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
      </aside>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
